
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    background-color: #E8EBF2;
}

header{
    height: 10vh;
    width: 100vw;
}

.menu_container{
    background-color: #E8EBF2;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.menu_container a{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 65%;
    align-self: center;
}

.pokedex_name{
    max-height: 55%;
}

.menu_container svg{
    height: 65%;
}

.container{
    margin: 0 auto;
    padding: 1rem;
    width: 100vw;
    height: 100%;
    background-color: #E83E34;
}

@media(min-width: 576px){
    .container{
        height: 100vh;
    }
}

@media(min-width: 768px){
    .container{
        width: 90vw;
        border-radius: 30px;
    }
}